html {
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}


header h1 {
    margin: auto ;
}

 h2 {
    text-align: center;
    margin: 20px;
}

.btn-info {
    background-color: black;
    border: none;
}

footer {

}